apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-notifications-cm
  namespace: argocd
data:
  service.slack: |
    token: $slack-token
  template.app-health-degraded: |
    message: |
      Application {{.app.metadata.name}} health is degraded.
      Application details: {{.app.metadata.selfLink}}
  template.app-sync-failed: |
    message: |
      Application {{.app.metadata.name}} sync is failed.
      {{if eq .app.status.operationState.phase "Failed"}}{{.app.status.operationState.message}}{{end}}
  template.app-sync-succeeded: |
    message: |
      Application {{.app.metadata.name}} has been successfully synced.
      Sync Result:
      - Revision: {{.app.status.sync.revision}}
      - Author: {{(call .repo.GetCommitMetadata .app.status.sync.revision).Author}}
      - Message: {{(call .repo.GetCommitMetadata .app.status.sync.revision).Message}}
  trigger.on-health-degraded: |
    - when: app.status.health.status == 'Degraded'
      send: [app-health-degraded]
  trigger.on-sync-failed: |
    - when: app.status.operationState.phase in ['Error', 'Failed']
      send: [app-sync-failed]
  trigger.on-sync-succeeded: |
    - when: app.status.operationState.phase == 'Succeeded'
      send: [app-sync-succeeded]
